[submodule "themes/hugo-paged"]
	path = themes/hugo-paged
	url = https://github.com/yihui/hugo-paged.git
[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
